################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TravelAgent/AIAgent/appsettings.json
/OpenAI-Plugin/appsettings.json
/DotNetErrorAgent/appsettings.json
/CustomPlugin/appsettings.json
/AdventureWorksApi/appsettings.json
/.vs
/AdventureWorksApi/.vs
/AdventureWorksApi/bin/Debug/net9.0
/AdventureWorksApi/obj/Debug/net9.0
/AdventureWorksApi/obj/Release/net9.0
/CustomPlugin/.vs
/CustomPlugin/bin/Debug/net9.0
/CustomPlugin/obj/Debug/net9.0
/CustomPlugin/obj/Release/net9.0
/DotNetErrorAgent/.vs
/DotNetErrorAgent/bin/Debug/net9.0
/DotNetMcpServer/.vs
/OpenAI-Plugin/.vs
/OpenAI-Plugin/bin/Debug/net9.0
/TravelAgent/.vs
/TravelAgent/AIAgent/.vs
/TravelAgent/AIAgent/bin/Debug/net9.0
/TravelAgent/AIAgent/obj/Debug
/TravelAgent/AIAgent/obj/Release/net9.0
/AdventureWorksApi/obj
/CustomPlugin/obj
/DotNetErrorAgent/obj
/DotNetMcpServer/obj
/OpenAI-Plugin/obj
/TravelAgent/AIAgent/obj
